@model IEnumerable<Anegrului_Cosmina_Proiect.Models.LibraryViewModels.OrderGroup>
@{
    ViewData["Title"] = "Ordered Cards Statistics";
}
<h2>Ordered Cards Statistics</h2>
<table>
    <tr>
        <th>
            Order Date
        </th>
        <th>
            Ordered Cards
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @item.CardCount
            </td>
        </tr>
    }
</table>
